html {
    background-color: var(--background-color);
    font-family: sans-serif;
    height: 100%;
    width: 100%;
  }
  
body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
      display: none;
    }

}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

:root {
  --background-color: #e0e0e0;
  --neu-size: 4px;
  --neu-card-size: calc(var(--neu-size) / 9);
  --neu-blur: 12px;
  /* --neu-light-color: rgba(255,255,255,0.1);
  --neu-shadow-color: rgba(0,0,0,0.2); */
  --neu-light-color: #fff;
  --neu-shadow-color: #bebebe;
}

.neu-input {
  border-radius: 50px;
box-shadow: inset var(--neu-size) var(--neu-size) var(--neu-blur) var(--neu-shadow-color),
          inset calc(-1 * (var(--neu-size))) calc(-1 * (var(--neu-size))) var(--neu-blur) var(--neu-light-color);
}
.neu-btn {
  border-radius: 50px;
background: var(--background-color);
box-shadow: var(--neu-size) var(--neu-size) var(--neu-blur) var(--neu-shadow-color),
          calc(-1 * (var(--neu-size))) calc(-1 * (var(--neu-size))) var(--neu-blur) var(--neu-light-color);
}

.neu-btn-inside {
  border-radius: 50px;
background: var(--background-color);
box-shadow: var(--neu-size) var(--neu-size) var(--neu-blur) var(--neu-shadow-color),
          calc(-1 * (var(--neu-size))) 0px var(--neu-blur) var(--neu-light-color);
}
.neu-btn-inside:hover {
  border-radius: 50px;
background: var(--background-color);
box-shadow: var(--neu-size) var(--neu-size) var(--neu-blur) var(--neu-shadow-color),
          calc(-1 * (var(--neu-size))) 0px var(--neu-blur) var(--neu-light-color);
}


.neu-btn:hover {
  border-radius: 50px;
background: #e4e4e4;
box-shadow: var(--neu-size) var(--neu-size) var(--neu-blur) #c2c1c1,
          -5px -5px var(--neu-blur) var(--neu-light-color) 
          ; 
}

/* .neu-btn:active, .neu-btn-inside:active {
  border-radius: 50px;
background: #5951ff;
box-shadow: inset var(--neu-size) var(--neu-size) 8px rgba(0,0,0,0.1),
          inset calc(-1 * (var(--neu-size))) calc(-1 * (var(--neu-size))) 8px rgba(0,0,0,0.1),
          var(--neu-size) var(--neu-size) var(--neu-blur) #c2c1c1,
          -5px -5px var(--neu-blur)var(--neu-light-color) 
          
          ; 
} */

.neu-btn:active, .neu-btn-inside:active {
  border-radius: 50px;
background: #5951ff;
box-shadow: inset var(--neu-size) var(--neu-size) 8px rgba(0,0,0,0.1),
          inset calc(-1 * (var(--neu-size))) calc(-1 * (var(--neu-size))) 8px rgba(255,255,255,0.1),
          1px 1px 8px rgba(255,255,255,0.1),
          -1px -1px 8px rgba(255, 255, 255, 0.5)
          
          ; 
}


/* .neu-btn:active, .neu-btn-inside:active {
  border-radius: 50px;
background: var(--background-color);
box-shadow: inset var(--neu-size) var(--neu-size) 8px var(--neu-shadow-color),
          inset calc(-1 * (var(--neu-size))) calc(-1 * (var(--neu-size))) 8px var(--neu-light-color),
            1px 1px 2px var(--neu-shadow-color),
            -1px -1px 2px var(--neu-light-color) 
          ; 
} */

.neu-card {
  border-radius: 10px;
  background: var(--background-color);
  box-shadow: inset var(--neu-card-size) var(--neu-card-size) var(--neu-blur) var(--neu-shadow-color),
              inset calc(-1 * (var(--neu-card-size))) calc(-1 * (var(--neu-card-size))) var(--neu-blur) var(--neu-light-color);
}